

h1{font-size:70px}

.bt1>button{
    background-color:red; 
    border-radius:100px;
     height:200px; 
     width:200px; 
     border-width:30px; 
     border-style: solid;
      border-color:black}
    
      .bt1>button{
        color:red; 
        font-size: 90px;
         font-weight:bold;
          float: left;}

      .bt2>button{
        color:blue;
         font-size: 90px;
          font-weight:bold; 
          float: right;}

      .bt2>button{
        background-color:blue; 
        border-radius:100px;
         height:200px; 
         width:200px; 
         border-width:30px; 
         border-style: solid;
          border-color:black}

          .bt3>button{
            background-color:green; 
            border-radius:100px;
             height:200px; 
             width:200px; 
             border-width:30px; 
             border-style: solid;
              border-color:black;}

              .bt3>button{
                color:green; 
                font-size: 90px; 
                font-weight:bold;
                 float: right;}

                 .bt4>button{
                  color:rgb(255, 140, 0); 
                  font-size: 90px; 
                  font-weight:bold;
                   float: left;}

                   .bt4>button{
                    background-color:rgb(255, 140, 0); 
                    border-radius:100px;
                     height:200px; 
                     width:200px; 
                     border-width:30px; 
                     border-style: solid;
                      border-color:black;}

                      .bt5>button{
                        background-color:yellow; 
                        border-radius:100px;
                         height:200px; 
                         width:200px; 
                         border-width:30px; 
                         border-style: solid;
                          border-color:black;}

                          .bt5>button{
                            color:yellow; 
                            font-size: 90px; 
                            font-weight:bold;
                             float: left;}

                             .bt6>button{
                              color:purple; 
                              font-size: 90px; 
                              font-weight:bold;
                               float: right;}

                               .bt6>button{
                                background-color:purple; 
                                border-radius:100px;
                                 height:200px; 
                                 width:200px; 
                                 border-width:30px; 
                                 border-style: solid;
                                  border-color:black;}